.profile-page {
    text-align: center;
    margin-bottom: 50px;
}

.profile-page > h1 {
    font-size: 70px;
}

.profile-page > h3 {
    font-size: 30px;
}

.profile-page > p {
    font-size: 20px;
}

.profile-page > h2 {
    font-size: 40px;
}

.update-button {
    margin-top: 20px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    width: 130px;
    font-family: 'Nazare';
    background-color: red;
    color: white;
    border: 0;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.15);
}

.update-info-form {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}