.header-div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 300px;
}

.header-text {
    text-align: left;
    display: inline-block;
    width: 500px;
    margin-top: 20px;
}

.header-text > h1 {
    font-size: 100px;
    margin-bottom: 15px;
}

.header-text > h2 {
    font-size: 42px;
    margin-top: 0;
    margin-bottom: 10px;
}

.header-img {
    width: 50%;
    height: auto;
    margin-top: 20px;
}

.landing-div-left {
    display: flex;
    flex-direction: row;
    margin-bottom: 150px;
    justify-content: flex-start;
    align-items: center;
}

.landing-div-right {
    display: flex;
    flex-direction: row;
    margin-bottom: 150px;
    justify-content: flex-end;
    align-items: center;
    
}

.testimonial {
    height: 400px;
    width: 900px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
}

.testimonial > h2, .testimonial > h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 22px;
}

.testimonial-img {
    width: 350px;
    height: 350px;
    display: inline-block;
}

.mark {
    margin-left: 100px;
}

p {
    margin-bottom: 0;
    font-size: 20px;
}

.join-link {
    border: 8px solid red;
    text-decoration: none;
    font-size: 24px;
    color: red;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30px;
    display: block;
    text-align: center;
    width: 200px;
}

.stripe-container {
    position: relative;
}

.vertical-red {
    background-color: red;
    width: 10px;
    height: 150vh;
    position: absolute;
    left: 30px;
    top: -100px;
}

.vertical-blue {
    background-color: #1D3557;
    width: 10px;
    height: 165vh;
    position: absolute;
    left: 50px;
    top: -100px;
}

.horizontal-red {
    background-color: red;
    height: 10px;
    width: 80vw;
    position: absolute;
    top: -20px;
}

.horizontal-blue {
    background-color: #1D3557;
    height: 10px;
    width: 70vw;
    position: absolute;
    top: -40px;
}

.diagonal-navy-first {
    background-color: #1D3557;
    height: 10px;
    width: 500px;
    position: absolute;
    left: 250px;
    top: -125px;
    transform: rotate(310deg);
    z-index: -1;
}

.diagonal-blue-first {
    background-color: #457B9D;
    height: 10px;
    width: 500px;
    position: absolute;
    left: 270px;
    top: -100px;
    transform: rotate(310deg);
    z-index: -1;
}

.diagonal-red-first {
    background-color: red;
    height: 10px;
    width: 500px;
    position: absolute;
    left: 290px;
    top: -75px;
    transform: rotate(310deg);
    z-index: -1;
}

.diagonal-red-second {
    background-color: red;
    height: 10px;
    width: 900px;
    position: absolute;
    left: 320px;
    top: -90px;
    transform: rotate(210deg);
    z-index: -1;
}

.diagonal-blue-second {
    background-color: #457B9D;
    height: 10px;
    width: 900px;
    position: absolute;
    left: 300px;
    top: -65px;
    transform: rotate(210deg);
    z-index: -1;
}

.diagonal-navy-second {
    background-color: #1D3557;
    height: 10px;
    width: 900px;
    position: absolute;
    left: 280px;
    top: -40px;
    transform: rotate(210deg);
    z-index: -1;
}

.diagonal-red-third {
    background-color: red;
    height: 10px;
    width: 500px;
    position: absolute;
    left: 760px;
    top: -100px;
    transform: rotate(320deg);
    z-index: -1;
}

.diagonal-blue-third {
    background-color: #457B9D;
    height: 10px;
    width: 500px;
    position: absolute;
    left: 780px;
    top: -75px;
    transform: rotate(320deg);
    z-index: -1;
}

.diagonal-navy-third {
    background-color:  #1D3557;
    height: 10px;
    width: 500px;
    position: absolute;
    left: 800px;
    top: -50px;
    transform: rotate(320deg);
    z-index: -1;
}

.diagonal-navy-fat {
    background-color: #1D3557;
    width:150vw;
    height: 10vh;
    transform: rotate(345deg);
    position: absolute;
    left: -100px;
}

.diagonal-blue-fat {
    background-color: #457B9D;
    width:150vw;
    height: 10vh;
    transform: rotate(345deg);
    position: absolute;
    left: -100px;
    top: 125px;
}

.diagonal-red-fat {
    background-color: red;
    width:150vw;
    height: 10vh;
    transform: rotate(345deg);
    position: absolute;
    left: -100px;
    top: 250px;
}

.recap-section {
    text-align: center;
    margin-top: 90vh;
}

.recap-section > h1 {
    font-size: 75px;
}

.numbered-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
    margin-bottom: 5vh;
}

.numbered-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10vh;
}

.item-number {
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: 80px;
    width: 125px;
    height: 125px;
    border: 5px solid red;
    border-radius: 100%;
}

.item-text {
    text-align: left;
    font-size: 20px;;
    margin-left: 20px;
    width: 45vw;
}