.reset-password-page {
    width: 100%;
    text-align: center;
}

.reset-password-page h1 {
    font-size: 65px;
    margin-bottom: 0;
}

.reset-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    padding-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.navy-stripe, .blue-stripe, .red-stripe {
    width: 225vw;
    height: 10vh;
    transform: rotate(345deg);
    margin-bottom: 3vh;
}

.navy-stripe {
    background-color: #1D3557;
}

.blue-stripe {
    background-color: #457B9D;
}

.red-stripe {
    background-color: red;
}