.profile-grid {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px;
    justify-content: center;
    margin-bottom: 10vh;
}

.grid-item {
    border: 1px solid black;
    width: 150px;
    padding: 15px;
    margin-bottom: 20px;
}

.title-item {
    border: 0;
    width: 150px;
    text-align: left;
    font-size: 28px;
    grid-column: span 5;
    margin-bottom: 10px;
}

.checked {
    background-color: palegreen;
}

.add-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #1D3557;
    font-size: 50px;
    width: 50px;
    height: 50px;
    border: 1px solid #1D3557;
    border-radius: 100%;
}