.login-page {
    width: 100%;
    text-align: center;
}

.login-page > h1 {
    font-size: 70px;
    margin-bottom: 0
}

.login-page > h3 {
    font-size: 30px;
}

.login-button {
    margin-top: 20px;
    padding-right: 70px;
    padding-left: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    font-family: 'Nazare';
    background-color: red;
    color: white;
    border: 0;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.15);
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    padding-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.login-input {
    margin-bottom: 20px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    font-family: 'Nazare';
    color: #1D3557;
    border: 2px solid #1D3557;
    background-color: transparent;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.15);
    width: 300px;
}

input::placeholder {
    color: #1D3557;
    text-align: center;
}

.reset-link {
    text-decoration: none;
    color: red;
}

.navy-stripe, .blue-stripe, .red-stripe {
    width: 200vw;
    height: 10vh;
    transform: rotate(345deg);
    margin-bottom: 3vh;
}

.navy-stripe {
    background-color: #1D3557;
}

.blue-stripe {
    background-color: #457B9D;
}

.red-stripe {
    background-color: red;
}