body {
  margin: 0;
  font-family: 'Nazare';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #1D3557;
  background-color: #F1F7F6;
}

h1 {
  font-family: 'Brim Narrow Combined 1';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
