.hidden {
    display: none;
}

.next-button, .prev-button, .submit-button {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 100px;
    padding-right: 70px;
    padding-left: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    font-family: 'Nazare';
    background-color: red;
    color: white;
    border: 0;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.15);
}

.step1, .step2, .step3 {
    text-align: center;
}

.setp1 > label, .step1 > input {
    display: block;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.form-grid-item > input {
    opacity: 0;
    width: 1em;
    height: 1em;
}

.form-grid {
    display: grid;
    grid-template-columns: 225px 225px 225px 225px 225px;
    justify-content: center;
    grid-gap: 20px;
}

.form-grid-item {
    text-align: center;
}

.check-label {
    display: inline-block;
    width: 100%;
    padding-bottom: 15px;
    border: 1px solid black;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.15);
}

.form-grid-item input:checked + .check-label {
     background-color: red;
     border: none;
     color: white;
}

.text-input {
    margin-bottom: 20px;
    width: 60%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    font-family: 'Nazare';
    color: #1D3557;
    border: 2px solid #1D3557;
    background-color: transparent;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.15);
}

input::placeholder {
    color: #1D3557;
    text-align: center;
}

.horizontal-red-update {
    background-color: red;
    height: 30px;
    margin-top: 5px;
    width: 100vw;
}

.horizontal-blue-update {
    background-color: #457B9D;
    height: 30px;
    margin-top: 5px;
    width: 100vw;
}

.horizontal-navy-update {
    background-color: #1D3557;
    height: 30px;
    margin-top: 10vh;
    margin-bottom: 0;
    width: 100vw;
}