.accordion {
    border: 2px solid #1D3557;
    margin-bottom: 20px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.accordion-grid {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px;
    justify-content: center;
    grid-gap: 20px;
}

.form-grid-item > input {
    opacity: 0;
    width: 1em;
    height: 1em;
}

.form-grid-item {
    text-align: center;
    margin-bottom: 30px;
}